#header{
    position: absolute;
    top: 0;
    left: 0;
}
#header h1{
    font-size: 32px;
}
p{
    font-size: 12px;
}
.welcome-message{
    position: relative;
    top: -25px;
    left: 10px;
    background-color: coral;
    width: 240px;
}